<div class="add-product-page">
  <div class="form-card">
    <div class="card-header">
      <h2>Ajouter un Nouveau Produit</h2>
      <p>Remplissez le formulaire ci-dessous pour créer un produit</p>
    </div>

    <form [formGroup]="productForm" (ngSubmit)="addProduct()">
      <div class="form-group">
        <label for="name" class="form-label">Car Name</label>
        <input type="text" formControlName="name" class="form-control" id="name" placeholder=" Car Name " />
      </div>

      <div class="form-group">
        <label for="description" class="form-label">Car Description</label>
        <textarea formControlName="description" class="form-control" id="description" rows="3"
          placeholder="Détails du produit..."></textarea>
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <label for="stock" class="form-label">Car Stock</label>
          <input type="number" formControlName="stock" class="form-control" id="stock" placeholder="0" />
        </div>
        <div class="col-md-6 form-group">
          <label for="category" class="form-label">Car Category</label>
          <select class="form-select" formControlName="category" id="category">
            <option value="" disabled selected>Choisir...</option>
            <option *ngFor="let cat of apiService.categories" [value]="cat">{{ cat }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="images" class="form-label">Car Image URL</label>
        <input type="text" formControlName="images" class="form-control" id="images" placeholder="https://..." />
      </div>

      <button type="submit" class="btn-submit" [disabled]="productForm.invalid">
        Ajouter le Car
      </button>
    </form>
  </div>
</div>